.main-container {
    width: 600px;
    height: 400px;
    background-color:lightgreen;
    border: 3px solid darkgreen;
    margin: 12px auto;
    padding: 12px;
    display: flex;
}

.top-container {
    background-color: lightblue;
    border: 3px solid blue;
    padding: 12px;
    margin-bottom: 12px;
    flex: 1;
    display: flex;
}

.top-container div {
    background-color: lightpink;
    border: 3px solid saddlebrown;
    padding: 6px;
    flex: 3;
}

.top-two {
    display: flex;
    margin: 0 6px;
}

.top-two div {
    background-color: peachpuff;
    border-color: red;
}