.main-container {
    width: 600px;
    height: 400px;
    background-color:lightgreen;
    border: 3px solid darkgreen;
    margin: 12px auto;
    padding: 12px;
    display: flex;
    flex-flow: column;
}

.top-container {
    background-color: lightblue;
    border: 3px solid blue;
    padding: 12px;
    margin-bottom: 12px;
    flex: 1;
    display: flex;
}

.top-container div {
    background-color: lightpink;
    border: 3px solid saddlebrown;
    padding: 6px;
    flex: 3;
}

.top-two {
    display: flex;
    margin: 0 6px;
}

.top-two div {
    background-color: peachpuff;
    border-color: red;
}

.middle-container {
   display: flex;
   flex: 2;
   margin-bottom: 12px; 
}

.middle-one {
    background-color: aqua;
    border: 3px solid limegreen;
    flex: 2;
}

.middle-twins {
    display: flex;
    flex: 2;
    flex-flow: column;
}

.middle-twins div {
    background-color: aqua;
    border: 3px solid limegreen;
    flex: 1;
}

.middle-two {
    margin: 0 0 6px 6px;
}

.middle-three {
    margin: 0 0 0 6px;
}

.bottom-container {
    display: flex;
    background-color: lightblue;
    border: 3px solid blue;
    padding: 6px;
    flex: 1; 
 }

 .bottom-one,
 .bottom-four {
    border: 3px solid darkolivegreen;
    background-color: purple;
    flex: 1;
 }

 .middle-bottom {
    display: flex;
    flex: 1;
 }

 .middle-bottom div {
    background-color: lightpink;
    border: 3px solid saddlebrown;
    flex: 1;
 }

 .bottom-two {
    margin: 0 1.5px 0 3px;
 }

 .bottom-three {
    margin: 0 3px 0 1.5px;
 }
