.main-container {
    width: 600px;
    height: 400px;
    background-color:lightgreen;
    border: 3px solid darkgreen;
    margin: 12px auto;
    padding: 12px;
    display: flex;
}

.top-container {
    background-color: lightblue;
    border: 3px solid blue;
    margin-bottom: 12px;
    flex: 1;
    display: flex;
}